.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5f6368;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: fixed;
  width: 75%;
  margin-top: -25px;
  margin-left: 13px;
}
.main_content {
  margin: 5% 7% 0 17.5%;

  
}
.list_content {
}
.dots {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.card_content {
  max-width: 100%;
}
.table {
  width: 100%;
  margin-left: 7px;
}
.td {
  /*  border: 1px solid #111010; */
  text-align: left;
  padding: 10px;
  width: 100%;
  word-break: break-word;
}
.card:hover {
  background-color: #f1f3f4;
}
.trash {
  font-size: 20px;
  margin-right: 10px;
}

.img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.img_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  margin-top: -7px;
  margin-left: 10px;
}
.email_content {
  margin-left: 25px;
}
.gender_content {
  margin-left: 77%;
}
.phone_content {
  margin-left: 63px;
}
.trash_content {
  margin-left: 79%;
}
.hover {
  visibility: hidden;
  margin-left: 79%;
}

